* {box-sizing: border-box; } body {margin: 0px; font-family: 'Quicksand', Helvetica, sans-serif; color: #333; font-size: 14px;}

$darkred: #b90022;

h1 {
  font-family: 'Lemon', cursive;
  font-size: 36px;
  margin: 6px 0 36px;
}
a {
  text-decoration: none;
  color: $darkred;
}
button {
  height: 25px;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  background: $darkred;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.8px;
  &:hover {
    cursor: pointer;
    background: #FFF;
    color: $darkred;
    border: 1px solid $darkred;
    font-weight: bold;
  }
}

.main-header {
  background: $darkred;
  line-height: 1.8em;
  padding: 10px 1em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    height: 50px;
    fill: #FFFFFF;
  }
  nav {
    height: 48px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      display: inline-block;
      margin: 0;
      display: flex;
      justify-content: space-around;
      // width: 152px;
      li {
        // display: inline-block;

        a {
          transition: all;
          color: rgba(#fff, .5);
          background: rgba(#fff, .15);
          border-radius: 3px;
          padding: .5em 0.75em;
          line-height: 1em;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 0.8px;
          margin: 0 6px;
          &.current-user {
            position: relative;
            overflow: hidden;
            padding-left: 35px;
            margin-right: .5em;
            background: none;
            &:hover {
              background: none;
              color: #fff;
            }

            .react-gravatar {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: .5em;
              position: absolute;
              top: 50%;
              margin-top: -15px;
              left: 0;
            }
          }

          .fa {
            color: #fff;
          }

          &:hover {
            cursor: pointer;
            background: #e8e8e8;
            color: $darkred;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.main-container {
  width: 100vw;
  height: calc(100vh - 40px);
  background: #a2263d;
  background: #e8e8e8;
  padding: 25px;

  .view-container {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding: 10px;
  }

  .sessions, .registrations {
    text-align: center;
    header {
      img {
        max-height: 240px;
      }
    }
  }
}

form {
  input {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }
}
